{
  "*.{js,jsx}": [
    "prettier --write",
    "eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix",
    "git add"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix",
    "git add"
  ],
  "*.{json,md,yml}": [
    "prettier --config .prettierrc --write",
    "git add"
  ]
}