:root {
  --body-bg-color: #121212;
  --body-text-color: #cef2ee;
  --body-secondary-text-color: #e0e0e0;
}

@media (prefer-color-scheme: light) {
  :root {
    --body-bg-color: #cef2ee;
    --body-text-color: #121212;
    --body-secondary-text-color: #616161;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: var(--body-text-color);
  background-color: var(--body-bg-color);
  transition: color 0.25s, background-color 0.25s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  @media only screen and (max-width: 767px) {
    font-size: 16px;
  }
}

a {
  color: var(--body-text-color);
}

* {
  box-sizing: border-box;
}

.text-secondary {
  color: var(--body-secondary-text-color);
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 99998;
  display: block;
  overflow: visible;
  height: 80px;
  background-color: var(--body-bg-color);

  a {
    text-decoration: none;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 24px;
    height: 100%;
    margin: auto;
  }
}

.nav-logo {
  padding-left: 12px;
}

.nav-link {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;

  .nav-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.25s;
    border-radius: 8px;
    margin-left: 12px;
  }
}

.main-gradient {
  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 30%, #8b56bf 100%);
  text-decoration: none;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container {
  position: relative;
  padding: 0 36px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  > div {
    display: block;
    margin: auto;
  }

  @media only screen and (max-width: 767px) {
    padding-top: 80px;
  }
}

.ani-link {
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 40%;
    top: 1.5rem;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 30%, #8b56bf 100%);
    transition: width .3s;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}