:root {
  --body-bg-color: #1e1e24;
  --body-text-color: #e0e0e0;
  --body-link-color: #3d99be;
  --primary-gradient: linear-gradient(to right, #3ab5b0 0%, #3d99be 30%, #8b56bf 100%);
}

@media (prefer-color-scheme: light) {
  :root {
    --body-bg-color: #fcfcfc;
    --body-text-color: #1e1e24;
    --body-link-color: #3d99be;
    --primary-gradient: linear-gradient(to right, #3ab5b0 0%, #3d99be 30%, #8b56bf 100%);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--body-text-color);
  background-color: var(--body-bg-color);
  transition: color 0.25s, background-color 0.25s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: var(--body-link-color);
}

* {
  box-sizing: border-box;
}

.navbar { 
  z-index: 99998;
  display: block;
  overflow: visible;
  height: 80px;
  background-color: var(--body-bg-color);

  a {
    text-decoration: none;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin: auto;
    width: 80%;
  }
}

.nav-logo {
  margin-right: auto;

  > a {
    color: var(--body-text-color);
  }

  @media only screen and (max-width: 767px) {
    padding-left: 0;
  }
}

.nav-link {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;

  .nav-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.25s;
    border-radius: 8px;
    margin-left: 12px;
  }
}

.main-gradient {
  background-image: var(--primary-gradient);
  text-decoration: none;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container {
  position: relative;
  width: 80%;
  margin: auto;
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;

  > div {
    display: block;
    margin: auto;
  }
}

.ani-link {
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 40%;
    left: 0;
    bottom: -0.5rem;
    background-image: var(--primary-gradient);
    transition: width .3s;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}

hr {
  width: 80%;
  background-image: var(--primary-gradient);
  height: 1px;
  border: none;
  margin: 1.5rem auto;
}

.font-sm {
  font-size: 12px;
}

.color-normal {
  color: var(--body-text-color);
}

.hint {
  padding: 1rem;
  white-space: pre-wrap;
  border-radius: 8px;

  &.tip {
    color: #1e1e24;
    background: var(--body-link-color);
  }

  &.warn {
    color: #1e1e24;
    background: #d8b343;
  }
}

code {
  background-color: rgb(45, 45, 45);
  font-size: 1.25rem;
  padding: 2px 4px;
}