.pageContainer {
  width: 100%;
}

.pageTitle {
  text-align: center;
}

.masonryContainer {
  display: flex;
  max-width: 800px;
  margin: auto;
}

.masonryCardContainer {
  width: 50%;
  margin: 0 1rem;
}

.masonryCard {
  display: block;
  margin: 1rem 0;
  padding: 1.5rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  &:hover {
    border-color: #0070f3;
    color: #0070f3;
  }

  h3, p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 0;
    word-break: break-word;
    -webkit-line-clamp: 3;
    color: rgba(49, 53, 59, 0.96);
  }

  p {
    line-height: 20px;
    word-break: break-word;
    -webkit-line-clamp: 4;
    color: rgba(49, 53, 59, 0.68);
  }
}